<h1>Productos</h1>

<div id="productos">
    {{#each products}}
    <div id="{{id}}">
        {{#with this}}
        <a href="/product/{{id}}"><h3>{{this.title}}</h3></a>
        {{/with}}
        <p>{{this.description}}</p>
        <p>U$S{{this.price}}</p>
        <hr>
    </div>

    {{/each}}
</div>

<div>
    <a href="/products/?page=1&limit={{limit}}">Page 1 | </a>
    {{#if hasPrevPage}}<a href="/products/?page={{prevPage}}&limit={{limit}}">< Previous Page | </a>{{/if}}
    
    {{#if hasNextPage}}<a href="/products/?page={{nextPage}}&limit={{limit}}">Next Page > | </a>{{/if}}
    <a href="/products/?page={{totalPages}}&limit={{limit}}">Last page</a>
</div>


<script src="socket.io/socket.io.js"></script>
<script src="js/productHandler.js"></script>