<h2>Email: {{user.email}}</h2>

{{#if message}}
    <div style="color: green">{{message}}</div>
{{/if}}

<p>Nombre: {{user.first_name}}</p>
<p>Apellido: {{user.last_name}}</p>
<p>Carrito: {{user.cart}}</p>

<a href="/upload">Upload documentation</a>